# Variables d'environnement pour Linkup
VITE_SUPABASE_URL=https://pwpoltofejvpjtdmvzoj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3cG9sdG9mZWp2cGp0ZG12em9qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg1NTgyOTIsImV4cCI6MjA3NDEzNDI5Mn0.M_fQkKfo8JeduNj-oGPwqBWKyM0eErGAR9HEoBLCHzE
